body{
    color: var(--dark-tc);
}
header * {
    z-index: 5;
}
header {
    height: 100svh;
    width: 100%;
    background: var(--Secondary-colour-200);
    position: relative;
    overflow: hidden;
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-o-100);
    padding: 0 10px;
    position: sticky;
    top: 0;
}
nav #logo {
    height: 45px;
    aspect-ratio: 1;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    width: 50%;
    border: 1px solid red;
    height: 100%;
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: none;
}

nav ul li a{
    font-size: var(--p-fs);
}

nav button {
    height: 35px;
    width: 105px;
    border-radius: var(--small-br);
    background: var(--main-colour-300);
    border: none;
    outline: none;
    font-size: var(--p-fs);
    font-weight: var(--section-heading-fw);
    color: var(--light-tc);
    display: none;
}
header h1 {
    font-weight: var(--main-heading-fw);
    color: var(--main-o-200);
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50% , -50%);
}
header h1 .word {
    font-size: var(--header-fs);
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
header h1 .two {
    top: -50px;
}
header h1 .three {
    top: -100px;
}
/* _____________________________ */

header .CTA_information {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient( 180deg, #00000000 10%, var(--main-o-200) 50% , #00000000);
    display: flex;
    align-items:center ;
    justify-content: center;
    z-index: 6;
}
header .CTA_information .actions{
    width: 75%;
    display: grid;
    justify-content: center;
}

header .CTA_information .actions h6 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--light-tc);
}

header .CTA_information .actions button {
    width: 276px;
    height: 50px;
    border-radius: var(--bigger-br);
    border: none;
    justify-self: center;
    outline: none;
    margin-top: 15px;
    background: var(--main-colour-300);
    color: var(--light-tc);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--section-heading-fw);
}
.img-displays {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    inset: 0;
}

.img-displays img {
    width: calc(auto/5);
    height: calc(100%/10);
}

.blackOpiqueImghide{
    position: absolute;
    z-index: 4;
    background: var(--main-o-200);
    height: 100%;
    width: 100%;
    inset: 0;
}
/* ----------header done----- */

#ourStory{
    background: black;
    height: 100vh;
    padding: var(--ss-padding) ;
    position: relative;
    display: grid;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}
#ourStory .img-slider_outstory{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    inset: 0;
    background:var(--Secondary-colour-300)
}

#ourStory .fade-transition_ourstory-top {
    position: absolute;
    inset: 0;
    height: 10vh;
    width: 100%;
    z-index: 5;
    background: linear-gradient(180deg , var(--main-o-200), var(--main-o-400) , var(--main-colour-100));
}
#ourStory aside{
    height: 80vh;
    background: var(--main-colour-100);
    display: grid;
    align-content:center ;
    justify-content: center;
    color: var(--Secondary-colour-300);
    position: relative;
    z-index: 5;
    padding: var(--ss-padding);
}

#ourStory aside h3 {
    font-size: var(--headTwo-fs);
    text-align: left;
    font-weight: var(--section-heading-fw);
}
#ourStory aside p ,  #ourStory aside p a {
    font-size: var(--p-fs);
    color: var(--dark-tc);
}
#ourStory aside .ReadMore {
    margin-top: 60px;
    font-weight: var(--section-heading-fw);
    text-decoration: underline;
}
#ourStory .outStoryImgCover{
    position: absolute;
    background: var(--main-colour-100);
    width: 100%;
    height: 80%;
    top: 10%;
    z-index: 3;
}
#ourStory .outStoryImgCover .img-displays {
    display: none;
}

/* -------------------Dance STyles sections */

#danceStyles {
    position: relative;
    background: green;
}
#danceStyles .first-dance_container{
    width: 100%;
    padding: var(--main-padding) var(--ss-padding);
}
#danceStyles .second-dance_container{
    width: 100%;
    padding: var(--main-padding) var(--ss-padding);
}

#danceStyles  .hiphop-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}

#danceStyles .hiphop-header h5{
    font-size: var(--headThree-fs);
    font-weight: var(--section-heading-fw);
    color: var(--secondary-colour-300);
}
#danceStyles .img_dance-style-display{
    width: 100%;
    aspect-ratio: 1/0.69;
    background-color: green;
    margin-bottom:10px;
}

#danceStyles  p {
    font-size:var(--ss-fs);
}

#danceStyles .ReadMore{
    margin-top: 60px;
    font-weight: var(--section-heading-fw);
    text-decoration: underline;
}

#danceStyles .hiphop-header .block-line {
    height: 40px;
    background: var(--Secondary-colour-300);
}

/* ======================FAQ sectionm from here outwards====== */
#FAQ{
    position: relative;
    overflow-x: hidden;
}

#FAQ h2 {
    font-weight: var(--main-heading-fw);
    color: var(--main-o-100);
    position: absolute;
    inset: 0;
    transform: translateY(0%);
}

#FAQ h2 .word {
    font-size: var( --headThree-fs);
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

#FAQ h2 .three {
    top: -70px;
}
#FAQ h2 .two {
    top: -35px;
}

#FAQ .FAQ_inner-container{
    position: relative;
    padding: 80px var(--ss-padding) var(--main-padding);
    background: var(--main-colour-200);
}

#FAQ .question_container{
    background: var(--main-colour-100);
    padding: 20px 8px;
    border-radius: var(--small-br);
    margin: 30px 0;
}

#FAQ .question_container .questionContainerHeader{
    display: inline-grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    position: relative;
}
#FAQ .question_container .questionContainerHeader h5{
    font-size: var(--headFourth-fs);
    font-weight: var(--section-heading-fw);
}
#FAQ .question_container .questionContainerHeader .block-line{
    height: 24px;
    background: var(--Secondary-colour-300);
    width: 60px;
    display: none;
}
#FAQ .question_container p{
    font-size: var(--ss-fs);
    margin-block: 15px;
}
#FAQ .question_container .FAQcontact{
    width: 94px;
    height: 30px;
    border-radius: var(--small-br);
    border: none;
    justify-self: center;
    outline: none;
    margin-top: 20px;
    background: var(--main-colour-300);
    color: var(--light-tc);
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--section-heading-fw);
}

/* --------------footer from here onwards */
footer * {
    z-index: 5;
}
footer{
    position: relative;
    background: var(--Secondary-colour-300);
    height: 115svh;
    overflow: hidden;
}

footer .upsideDown-triangle{
    position: relative;
    z-index: 6;
}

/* footer .upsideDown-triangle .rectangle{
    height: 55px;
    background: var(--main-colour-200);
    position: absolute;
    width: 100vw;
    top: 50px;
} */

footer .upsideDown-triangle .oneBlock{
    height: 95px;
    background: var(--main-colour-200);
    position: absolute;
    width: 100vw;
    top: -2px;
    border-radius: 0 0 200% 200%;
    
    /* transform: rotate(16deg) translate(-50%); */
}
/* footer .upsideDown-triangle .twoBlock{
    transform: rotate(344deg) translate(44%);
}
footer .upsideDown-triangle .thirdBlock{
    top: -10px;
} */


footer .inner_footer {
    padding: 130px var(--ss-padding) 60px;
    color: var(--light-tc);
    display: grid;
    grid-template-rows: 35% 65%;
    position: relative;
    z-index: 5;
    height: 100%;
    background-color: var(--main-o-400);
}

footer .timeTable_contactForm{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
footer .timeTable_contactForm p {
    font-size:var(--p-fs);
    text-align: center;
}
footer .inner_footer form input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--light-tc);
    width: 100%;
    font-size: var(--p-fs);
    padding: 6px;
    text-align: center;
    color: var(--light-tc);
}

footer .inner_footer form input::placeholder {
    color: var(--light-tc);
    font-size: var(--p-fs);
}

footer .inner_footer form button{
    background: var(--main-colour-300);
    margin-top: 20px;
    color: var(--light-tc);
    width: 100%;
    height: 50px;
    display: flex;
    font-weight: var(--section-heading-fw);
    font-size: 2.7rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--small-br);
}
footer .inner_footer #map{
    width: -webkit-fill-available;
    width: fill-available;
}

footer .inner_footer #map .mapImg{
    width: 100%;
    aspect-ratio: 2.043/1;
    position: relative;
}
footer .inner_footer #map .mapImg iframe{
    width: 100%;
    height: 100%;
}


footer .inner_footer #map p {
    margin-top: 5px;
    font-size: 0.8rem;
}

footer .inner_footer .map_Link-div{

    display: grid;
    gap:40px;
}

footer .inner_footer .map_Link-div .socials{
    color: var(--main-colour-300);
}

footer .inner_footer .map_Link-div #footer_links{
    display: flex;
    justify-content: space-between;
}

/* footer .inner_footer .map_Link-div ul{
    
} */
footer .inner_footer .map_Link-div ul h6{
    font-weight: var(--section-heading-fw);
    font-size: var(--headFourth-fs);
    color: var(--main-colour-300);
    margin-bottom: 10px;

}

footer .inner_footer .map_Link-div ul li{
    list-style: none;
    margin: 15px 2px;
}

footer .inner_footer .map_Link-div ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--light-tc);

}

footer h2 {
    font-weight: var(--main-heading-fw);
    width: 100vw;
    color: var(--secondary-colour-300);
    position: absolute;
    left: -10px;
    top: 57%;
    z-index: 4;
    transform: translateY(-50%);
}
footer h2 {
    font-weight: var(--main-heading-fw);
    width: 100vw;
    color: var(--secondary-colour-300);
    position: absolute;
    left: -10px;
    top: 30%;
    transform: translateY(-50%);
}
footer h2 .word {
    font-size: var(--header-fs);
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

footer h2 .three {
    top: -100px;
}
footer h2 .two {
    top: -50px;
}

#danceStyles  .hipHop {
    background-image: url(/media/630ce744-ac46-402a-893b-54e4ae629ef9.jpeg);
    background-position: center;
    background-size: contain;
}
#danceStyles .AfroBeat{
    background-image: url(/media/aa0e60a8-f8d9-4224-88c6-5a368eb50f4b.jpeg);
    background-position: center;
    background-size: contain;
}
#danceStyles .Amapiano{
    background-image: url(/media/4717f6c4-7b2a-4d86-873c-e858533fd7c7.jpeg);
    background-position: center;
    background-size: contain;
}
#danceStyles .UrbanDance {
    background-image: url(/media/e9e90b0c-926f-4b24-9bfb-00985fc2ac2c.jpeg);
    background-position: center;
    background-size: contain;
}
#danceStyles .BreakDance{
    background-image: url(/media/4b299c29-05ce-4c92-ac56-fd8aa2a25b62.jpeg);
    background-position: center;
    background-size: contain;
}
#danceStyles .tiktok{
    background-image: url(/media/bb91373b-e76a-4108-a26f-bbb54a0b776a.jpeg);
    background-position: center;
    background-size: contain;
}

