@media (min-width:31.25em) and (max-width:34.31em) {
    /* 500px - 549px */
:root{
    --headThree-fs: 3.6rem;
}
    nav ul li {
        font-size: 1.4rem !important;
    }
    nav ul li a{
        padding: 0 7px !important;
        font-size: 1.1rem;
    }
    nav button {
        height: 40px !important;
        width: 120px !important;
        font-size: 2rem !important;
    }
    header h1 .word {
        font-size: var(--header-fs);

    }
    header h1 .two {
        top: -100px !important;
    }
    header h1 .three {
        top: -200px !important;
    }

    footer{
        position: relative;
        background: var(--Secondary-colour-300);
        height: 115svh;
        overflow: hidden;
    }

    footer .upsideDown-triangle{
        position: relative;
        z-index: 6;
    }

    /* footer .upsideDown-triangle .rectangle{
        height: 55px;
        background: var(--main-colour-200);
        position: absolute;
        width: 100vw;
        top: 50px;
    } */

    footer .upsideDown-triangle .oneBlock{
        height: 95px;
        background: var(--main-colour-200);
        position: absolute;
        width: 100vw;
        top: -2px;
        border-radius: 0 0 200% 200%;
        
        /* transform: rotate(16deg) translate(-50%); */
    }
    /* footer .upsideDown-triangle .twoBlock{
        transform: rotate(344deg) translate(44%);
    }
    footer .upsideDown-triangle .thirdBlock{
        top: -10px;
    } */


    footer .inner_footer {
        padding: 130px var(--ss-padding) 60px;
        color: var(--light-tc);
        display: grid;
        grid-template-rows: 35% 65%;
        position: relative;
        z-index: 5;
        background-color: var(--main-o-400);
    }

    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .timeTable_contactForm p {
        font-size:var(--p-fs);
        text-align: center;
    }
    footer .inner_footer form {
        width: 100%;
    }
    footer .inner_footer form input {
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--light-tc);
        width: 100%;
        font-size: var(--p-fs);
        padding: 6px;
        text-align: center;
        color: var(--light-tc);
    }

    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
        font-size: var(--p-fs);
    }

    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }
    footer .timeTable_contactForm form{
        display: flex;
        margin-top: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .inner_footer form input {
        background: transparent;
        border-bottom: 2px solid var(--light-tc);
        color: var(--light-tc);
        text-align: center;
    }
    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
    }
    footer .inner_footer form button{
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }
    footer .inner_footer #map{
        width: -webkit-fill-available;
        width: fill-available;
    }

    footer .inner_footer #map .mapImg{
        width: 100%;
        aspect-ratio: 2.043/1;
        position: relative;
    }
    footer .inner_footer #map .mapImg iframe{
        width: 100%;
        height: 100%;
    }


    footer .inner_footer #map p {
        margin-top: 5px;
        font-size: 0.8rem;
    }

    footer .inner_footer .map_Link-div{
        justify-content: normal;
        display: grid;
        gap:40px;
    }

    footer .inner_footer .map_Link-div .socials{
        color: var(--main-colour-300);
    }

    footer .inner_footer .map_Link-div #footer_links{
        display: flex;
        justify-content: space-between;
    }

    /* footer .inner_footer .map_Link-div ul{
        
    } */
    footer .inner_footer .map_Link-div ul h6{
        font-weight: var(--section-heading-fw);
        font-size: var(--headFourth-fs);
        color: var(--main-colour-300);
        margin-bottom: 10px;

    }

    footer .inner_footer .map_Link-div ul li{
        list-style: none;
        margin: 15px 2px;
        transition: 0.2s ease;
    }
    footer .inner_footer .map_Link-div ul li:hover {
        transform: translateX(10px);
    }
    footer .inner_footer .map_Link-div ul li a{
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--light-tc);
        transition: 0.2s ease;
    }
    footer .inner_footer .map_Link-div ul li a:hover{
        color: var(--main-colour-200);
    }


    footer h2 {
        font-weight: var(--main-heading-fw);
        width: 100vw;
        color: var(--secondary-colour-300);
        position: absolute;
        left: -10px;
        top: 57%;
        z-index: 4;
        transform: translateY(-50%);
    }
    footer h2 {
        font-weight: var(--main-heading-fw);
        width: 100vw;
        color: var(--secondary-colour-300);
        position: absolute;
        left: -10px;
        top: 30%;
        transform: translateY(-50%);
    }
    footer h2 .word {
        font-size: var(--header-fs);
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }

    footer h2 .three {
        top: -100px;
    }
    footer h2 .two {
        top: -50px;
    }
}
@media (min-width:34.375em) and (max-width:37.31em) {
    /* 550px - 599px */
    :root{
        --headThree-fs: 3.6rem;
    }
    nav ul li a{
        padding: 0 7px !important;
        font-size: 1.1rem;
    }
    nav button {
        height: 40px !important;
        width: 120px !important;
        font-size: 2rem !important;
    }
    header h1 .word {
        font-size: var(--header-fs);

    }
    header h1 .two {
        top: -100px !important;
    }
    header h1 .three {
        top: -200px !important;
    }
    footer * {
        z-index: 5;
    }
    footer{
        position: relative;
        background: var(--Secondary-colour-300);
        height: 115svh;
        overflow: hidden;
    }

    footer .upsideDown-triangle{
        position: relative;
        z-index: 6;
    }

    /* footer .upsideDown-triangle .rectangle{
        height: 55px;
        background: var(--main-colour-200);
        position: absolute;
        width: 100vw;
        top: 50px;
    } */

    footer .upsideDown-triangle .oneBlock{
        height: 95px;
        background: var(--main-colour-200);
        position: absolute;
        width: 100vw;
        top: -2px;
        border-radius: 0 0 200% 200%;
        
        /* transform: rotate(16deg) translate(-50%); */
    }
    /* footer .upsideDown-triangle .twoBlock{
        transform: rotate(344deg) translate(44%);
    }
    footer .upsideDown-triangle .thirdBlock{
        top: -10px;
    } */


    footer .inner_footer {
        padding: 130px var(--ss-padding) 60px;
        color: var(--light-tc);
        display: grid;
        grid-template-rows: 35% 65%;
        position: relative;
        height: 100%;
        z-index: 5;
        background-color: var(--main-o-400);
    }

    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .timeTable_contactForm p {
        font-size:var(--p-fs);
        text-align: center;
    }
    footer .inner_footer form {
        width: 100%;
    }
    footer .inner_footer form input {
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--light-tc);
        width: 100%;
        font-size: var(--p-fs);
        padding: 6px;
        text-align: center;
        color: var(--light-tc);
    }

    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
        font-size: var(--p-fs);
    }

    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }
    footer .timeTable_contactForm form{
        display: flex;
        margin-top: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .inner_footer form input {
        background: transparent;
        border-bottom: 2px solid var(--light-tc);
        color: var(--light-tc);
        text-align: center;
    }
    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
    }
    footer .inner_footer form button{
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }
    footer .inner_footer #map{
        width: -webkit-fill-available;
        width: fill-available;
    }

    footer .inner_footer #map .mapImg{
        width: 100%;
        aspect-ratio: 2.043/1;
        position: relative;
    }
    footer .inner_footer #map .mapImg iframe{
        width: 100%;
        height: 100%;
    }


    footer .inner_footer #map p {
        margin-top: 5px;
        font-size: 0.8rem;
    }

    footer .inner_footer .map_Link-div{
        justify-content: normal;
        display: grid;
        gap:40px;
    }

    footer .inner_footer .map_Link-div .socials{
        color: var(--main-colour-300);
    }

    footer .inner_footer .map_Link-div #footer_links{
        display: flex;
        justify-content: space-between;
    }

    /* footer .inner_footer .map_Link-div ul{
        
    } */
    footer .inner_footer .map_Link-div ul h6{
        font-weight: var(--section-heading-fw);
        font-size: var(--headFourth-fs);
        color: var(--main-colour-300);
        margin-bottom: 10px;

    }

    footer .inner_footer .map_Link-div ul li{
        list-style: none;
        margin: 15px 2px;
        transition: 0.2s ease;
    }
    footer .inner_footer .map_Link-div ul li:hover {
        transform: translateX(10px);
    }
    footer .inner_footer .map_Link-div ul li a{
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--light-tc);
        transition: 0.2s ease;
    }
    footer .inner_footer .map_Link-div ul li a:hover{
        color: var(--main-colour-200);
    }


    footer h2 {
        font-weight: var(--main-heading-fw);
        width: 100vw;
        color: var(--secondary-colour-300);
        position: absolute;
        left: -10px;
        top: 57%;
        z-index: 4;
        transform: translateY(-50%);
    }
    footer h2 {
        font-weight: var(--main-heading-fw);
        width: 100vw;
        color: var(--secondary-colour-300);
        position: absolute;
        left: -10px;
        top: 30%;
        transform: translateY(-50%);
    }
    footer h2 .word {
        font-size: var(--header-fs);
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }

    footer h2 .three {
        top: -100px;
    }
    footer h2 .two {
        top: -50px;
    }

}
@media (min-width:37.5em) and (max-width:40.56em) {
    /* 600px - 649px */
    :root{
        --header-fs: 13.5rem !important;
    }
    nav ul li a{
        padding: 0 7px !important;
        font-size: 1.1rem;
    }
    nav button {
        height: 40px !important;
        width: 120px !important;
        font-size: 2rem !important;
    }
    header h1 .word {
        font-size: var(--header-fs);

    }
    header h1 .two {
        top: -100px !important;
    }
    header h1 .three {
        top: -200px !important;
    }
    footer h2 .word {
        font-size: var(--header-fs);
    }
    footer h2 .three {
        top: -200px !important;
    }
    footer h2 .two {
        top: -100px !important;
    }

    .img-displays img {
        scale: 1;
    }
    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .timeTable_contactForm form{
        display: flex;
        margin-top: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .inner_footer form input {
        background: transparent;
        border-bottom: 2px solid var(--light-tc);
        color: var(--light-tc);
        text-align: center;
    }
    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
    }
    footer .inner_footer form button{
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }
}

@media (min-width:40.625em) and (max-width:43.69em) {
    /* 650px - 699px */
    :root{
        --header-fs: 13.5rem !important;
    }
    nav ul li {
        font-size: 1.4rem !important;
    }
    nav ul li a{
        padding: 10px !important;
    }
    header h1 .word {
        font-size: var(--header-fs);
    }
    nav button {
        height: 40px !important;
        width: 120px !important;
        font-size: 2rem !important;
    }
    header h1 .two {
        top: -100px !important;
    }
    header h1 .three {
        top: -200px !important;
    }
    footer h2 .word {
        font-size: var(--header-fs);
    }
    footer h2 .three {
        top: -200px !important;
    }
    footer h2 .two {
        top: -100px !important;
    }

    .img-displays img {
        scale: 1;
    }
    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .timeTable_contactForm form{
        display: flex;
        margin-top: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .inner_footer form input {
        background: transparent;
        border-bottom: 2px solid var(--light-tc);
        color: var(--light-tc);
        text-align: center;
    }
    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
    }
    footer .inner_footer form button{
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }
}

@media (min-width:43.75em) and (max-width:46.81em)  {
    /* 700px - 749px */
    nav ul li {
        font-size: 1.5rem !important;
    }
    nav ul li a{
        padding: 10px !important;
    }
    nav button {
        height: 40px !important;
        width: 120px !important;
        font-size: 2rem !important;
    }
    :root{
        --header-fs: 13.5rem !important;
    }
    header h1 .word {
        font-size: var(--header-fs);

    }
    header h1 .two {
        top: -100px !important;
    }
    header h1 .three {
        top: -200px !important;
    }
    footer h2 .word {
        font-size: var(--header-fs);
    }
    footer h2 .three {
        top: -200px !important;
    }
    footer h2 .two {
        top: -100px !important;
    }
    .img-displays img {
        scale: 1.1;
    }
    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .timeTable_contactForm form{
        display: flex;
        margin-top: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .inner_footer form input {
        background: transparent;
        border-bottom: 2px solid var(--light-tc);
        color: var(--light-tc);
        text-align: center;
    }
    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
    }
    footer .inner_footer form button{
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }
}

@media (min-width:46.875em) and (max-width:49.94em) {
    /* 750px - 799px */
    nav button {
        height: 40px !important;
        width: 120px !important;
        font-size: 2rem !important;
    }
    nav ul li {
        font-size: 1.5rem !important;
    }
    nav ul li a{
        padding: 10px !important;
    }
    .img-displays img {
        scale: 1.1;
    }
    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .timeTable_contactForm form{
        display: flex;
        margin-top: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .inner_footer form input {
        background: transparent;
        border-bottom: 2px solid var(--light-tc);
        color: var(--light-tc);
        text-align: center;
    }
    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
    }
    footer .inner_footer form button{
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }
}

@media (min-width:50em) and (max-width:53.06em) {
    /* 800px - 849px */
    nav ul li {
        font-size: 1.5rem !important;
    }
    nav ul li a{
        padding: 10px !important;
    }
    .img-displays img {
        scale: 1.2;
    }
    footer .timeTable_contactForm{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .timeTable_contactForm form{
        display: flex;
        margin-top: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .inner_footer form input {
        background: transparent;
        border-bottom: 2px solid var(--light-tc);
        color: var(--light-tc);
        text-align: center;
    }
    footer .inner_footer form input::placeholder {
        color: var(--light-tc);
    }
    footer .inner_footer form button{
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }
}

@media (min-width:53.125em) and (max-width:56.19em) {
    /* 850px - 899px */
    nav ul li {
        font-size: 1.5rem !important;
    }
    nav ul li a{
        padding: 10px !important;
    }
    .img-displays img {
        scale: 1.2;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 13.75rem; /* 220px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 5rem; /* 80px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 4.375rem; /* 70px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 8.125rem; /* 130px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 12.5rem; /* 200px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 10.625rem; /* 170px */
    }
}

@media (min-width:56.25em) and (max-width:59.31em) {
    /* 900px - 949px */
    .img-displays img {
        scale: 1.3;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 15rem; /* 240px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 6.25rem; /* 100px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 5.625rem; /* 90px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 9.375rem; /* 150px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 13.75rem; /* 220px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 11.875rem; /* 190px */
    }
}

@media (min-width:59.375em) and (max-width:62.44em) {
    /* 950px - 999px */
    .img-displays img {
        scale: 1.3;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 16.25rem; /* 260px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 7.5rem; /* 120px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 6.875rem; /* 110px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 10.625rem; /* 170px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 15rem; /* 240px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 13.125rem; /* 210px */
    }
}

@media (min-width:62.5em) and (max-width:65.56em) {
    /* 1000px - 1049px */
    .img-displays img {
        scale: 1.4;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 17.5rem; /* 280px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 8.75rem; /* 140px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 8.125rem; /* 130px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 11.875rem; /* 190px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 16.25rem; /* 260px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 14.375rem; /* 230px */
    }
}

@media (min-width:65.625em) and (max-width:68.69em) {
    /* 1050px - 1099px */
    .img-displays img {
        scale: 1.4;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 18.75rem; /* 300px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 10rem; /* 160px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 9.375rem; /* 150px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 13.125rem; /* 210px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 17.5rem; /* 280px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 15.625rem; /* 250px */
    }
}

@media (min-width:68.75em) and (max-width:71.81em) {
    /* 1100px - 1149px */
    .img-displays img {
        scale: 1.4;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 20rem; /* 320px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 11.25rem; /* 180px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 10.625rem; /* 170px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 14.375rem; /* 230px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 18.75rem; /* 300px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 16.875rem; /* 270px */
    }
}

@media (min-width:71.875em) and (max-width:74.94em) {
    /* 1150px - 1199px */
    .img-displays img {
        scale: 1.5;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 21.25rem; /* 340px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 12.5rem; /* 200px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 11.875rem; /* 190px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 15.625rem; /* 250px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 20rem; /* 320px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 18.125rem; /* 290px */
    }
}

@media (min-width:75em) and (max-width:78.06em) {
    /* 1200px - 1249px */
    .img-displays img {
        scale: 1.5;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 22.5rem; /* 360px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 13.75rem; /* 220px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 13.125rem; /* 210px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 16.875rem; /* 270px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 21.25rem; /* 340px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 19.375rem; /* 310px */
    }
}

@media (min-width:78.125em) and (max-width:81.19em) {
    /* 1250px - 1299px */
    .img-displays img {
        scale: 1.9;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 23.75rem; /* 380px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 15rem; /* 240px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 14.375rem; /* 230px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 18.125rem; /* 290px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 22.5rem; /* 360px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 20.625rem; /* 330px */
    }
}

@media (min-width:81.25em) and (max-width:84.31em) {
    /* 1300px - 1349px */
    .img-displays img {
        scale: 1.9;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 25rem; /* 400px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 16.25rem; /* 260px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 15.625rem; /* 250px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 19.375rem; /* 310px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 23.75rem; /* 380px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 21.875rem; /* 350px */
    }
}

@media (min-width:84.375em) and (max-width:87.44em) {
    /* 1350px - 1399px */
    .img-displays img {
        scale: 1.9;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 26.25rem; /* 420px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 17.5rem; /* 280px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 16.875rem; /* 270px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 20.625rem; /* 330px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 25rem; /* 400px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 23.125rem; /* 370px */
    }
}

@media (min-width:87.5em) and (max-width:90.56em) {
    /* 1400px - 1449px */

    .img-displays img {
        scale: 1.9;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 27.5rem; /* 440px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 18.75rem; /* 300px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 18.125rem; /* 290px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 21.875rem; /* 350px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 26.25rem; /* 420px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 24.375rem; /* 390px */
    }
}

@media (min-width:90.625em) and (max-width:93.69em) {
    /* 1450px - 1499px */

    .img-displays img {
        scale: 1.9;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 28.75rem; /* 460px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 20rem; /* 320px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 19.375rem; /* 310px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 23.125rem; /* 370px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 27.5rem; /* 440px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 25.625rem; /* 410px */
    }
}

@media (min-width:93.75em) and (max-width:96.81em) {
    /* 1500px - 1549px */
    .img-displays img {
        scale: 1.9;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 30rem; /* 480px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 21.25rem; /* 340px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 20.625rem; /* 330px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 24.375rem; /* 390px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 28.75rem; /* 460px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 26.875rem; /* 430px */
    }
}

@media (min-width:96.875em) and (max-width:99.94em) {
    /* 1550px - 1599px */
    .img-displays img {
        scale: 1.9;
    }
    #danceStyles .hiphop-header .TikTok {
        width: 31.25rem; /* 500px */
    }
    #danceStyles .hiphop-header .breakDance {
        width: 22.5rem; /* 360px */
    }
    #danceStyles .hiphop-header .urbanDance {
        width: 21.875rem; /* 350px */
    }
    #danceStyles .hiphop-header .amapianoBlock {
        width: 25.625rem; /* 410px */
    }
    #danceStyles .hiphop-header .HipHop {
        width: 30rem; /* 480px */
    }
    #danceStyles .hiphop-header .afroBeat {
        width: 28.125rem; /* 450px */
    }
}