@media (min-width:31.25em) and (max-width:68.69em){
    :root {
        --header-fs: 16rem;
        --headTwo-fs: 7.4rem;
        --headFourth-fs: 2.3rem;
        --p-fs: 1.6rem;
        --ss-fs:1.3rem;
    }
    nav{
        height: 80px;
        padding: 0 var(--ss-padding);
    }
    nav #logo {
        height: 47px;
    }

    nav ul li {
        display: flex;
        font-size: 1.7rem;
        justify-content: center;
    }
    nav ul li a{
        text-decoration: none;
        padding: 10px 15px;
        color: var(--light-tc);
    }
    nav button {
        height: 40px;
        width: 160px;
        border-radius: var(--small-br);
        background: var(--main-colour-300);
        border: none;
        outline: none;
        font-size: 2.4rem;
        font-weight: var(--section-heading-fw);
        color: var(--light-tc);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav svg {
        display: none;
    }
    header h1 {
        font-weight: var(--main-heading-fw);
        color: var(--secondary-colour-300);
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translate(-50% , -50%);
    }
    header h1 .word {
        font-size: var(--header-fs);
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }
    header h1 .two {
        top: -115px;
    }
    header h1 .three {
        top: -230px;
    }

    header .CTA_information .actions button {
        height: 60px;
    }
      /* ----------header done----- */
      #contactForm {
        height: 90vh;
        width: 90vw;
        background: url(/media/1bfbd7d9-39f7-443b-ab01-31703a8539f0.jpeg);
        position: fixed;
        background-position: center center;
        background-repeat:no-repeat;
        background-size: cover;
        padding: 140px 80px ;
        z-index: 16;
        inset: 0;
        top: 5%;
        left: 50%;
        transform: translateX(5000%);
        max-width: 700px;
        overflow: hidden;
    }    
    #contactForm h2 {
        position: absolute;
        display: flex;
        color: var(--main-colour-300);
        width: 100%;
        justify-content: center;
        inset: 0;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
    }
    #contactForm h2 .word{
        margin-inline: 10px;
        font-size: var(--headThree-fs);
        text-transform: uppercase;
        font-weight: var(--main-heading-fw);
    }
    #contactForm form button {
        margin-top: 20px;
        cursor: pointer;
        margin-inline: auto;
    }

    #ourStory aside{
        background: var(--main-colour-100);
        display: grid;
        align-content:center ;
        justify-content: center;
        color: var(--Secondary-colour-300);
        width: 60%;
    }
    #ourStory aside h3 {
        font-size: var(--headTwo-fs);
        text-align: left;
        font-weight: var(--section-heading-fw);
    }
    #ourStory aside p {
        font-size: var(--p-fs);
    }
    #ourStory aside .ReadMore {
        margin-top: 60px;
        font-weight: var(--section-heading-fw);
        text-decoration: underline;
    }

    #ourStory .outStoryImgCover{
        height: 90%;
        top: 10%;
        z-index: 3;
    }
    /* ===================================Dance styles==--==-=-=-=- */
    #achievements_vision {
        justify-items: center;
        height: 115vh;
    }
    .achievements , .vision {
        width: 80%;
    }
    .classImgs{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-around;
    }
    .leftclassimage , .rightclassimage{
        width: 48%;
        aspect-ratio: 16/9; 
    }
/* ===================================Dance styles==--==-=-=-=- */

    #danceStyles{
        position: relative;
    }
    #danceStyles .dance_style-divider{
        display: flex;
    }

    /* -------------------Dance STyles sections */
    #FAQ .FAQ_inner-container{
        position: relative;
        padding: 150px 60px 40px;/* im not sure about this one */
        background: var(--main-colour-200);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 10px;
    }

    #danceStyles .first-dance_container{
        width: 50%;
        padding: 40px 20px; /* im not sure about this one */
    }
    #danceStyles .second-dance_container{
        width: 50%; 
        padding: 40px 20px; /* im not sure about this one */
    }
/* --------=Frequantly Asked Questions */
    #FAQ .question_container{
        background: var(--main-colour-100);
        padding: var(--ss-padding); /* im not sure about this one */
        border-radius: var(--bigger-br);
        margin: 30px 0;
    }

    #FAQ h2 {
        font-weight: var(--main-heading-fw);
        width: 100vw;
        position: absolute;
        inset: 0;
        top: -25px;
        transform: translateY(0%);
        z-index: 10;
    }
    
    #FAQ h2 .word {
        font-size: var(--headTwo-fs);
        text-transform: uppercase;
        text-align: right;
        position: relative;
    }
    
    #FAQ h2 .three {
        top: -100px; /* need to adjust these ones too */
    }
    #FAQ h2 .two {
        top: -50px;
    }


    /* -----------------------footer---------- */

footer{
    position: relative;
    background: var(--Secondary-colour-300);
    height: 115dvh;
    overflow: hidden;
}
footer .upsideDown-triangle .oneBlock{
    height: 295px;
    background: var(--main-colour-200);
    position: absolute;
    width: 100vw;
    top: -2px;
    border-radius: 0 0 700% 700%
    /* transform: rotate(16deg) translate(-50%); */
}
/* -------------semi-circle */
        footer .inner_footer{
            display: flex;
            flex-direction: row-reverse;
            gap: 40px;
            padding: 330px var(--ss-padding) 130px;
        }
        footer .inner_footer .map_Link-div{
            display: flex;
            flex-direction: column;
            gap: 100px;
            justify-content: space-between;
            padding: 0 ;
            height: fit-content;
        }

        footer .inner_footer .map_Link-div #footer_links {
            display: flex;
            width: 100%;
            justify-content: space-between
        }

        footer .inner_footer #map .mapImg{
    
            aspect-ratio: 2.043/1;
        }
        footer .inner_footer #map p {
            margin-top: 10px;
            font-size: 1rem;
            text-align: left;
        }
        footer .inner_footer .map_Link-div ul h6{
            font-weight: var(--section-heading-fw);
            font-size: var( --headFourth-fs);
            color: var(--main-colour-300);
            margin-bottom: 0px;
        }
    
        footer .inner_footer .map_Link-div ul li{
            list-style: none;
            margin: 20px 2px 0;
        }
    
        footer .inner_footer .map_Link-div ul li a{
            text-decoration: none;
            font-size: var( --p-fs);
            color: var(--light-tc);
        }
/* ----------.timeTable_contactForm--- */
        footer .timeTable_contactForm{
            background: transparent;
            display: flex;
            flex-direction: column;
            padding-right: 0px;
            width: 50%;
            gap: 60px  ;
            position: relative;
            left: 0%;
        }

        footer .inner_footer form {
            display: flex;
            margin-top: 40px;
            flex-wrap: nowrap;
        }
        footer .timeTable_contactForm p {
            font-size: var( --p-fs);
            text-align: left;
        }
        footer .inner_footer form input {
            background: var(--light-tc);
            outline: none;
            border: none;
            border-bottom: 2px solid var(--light-tc);
            width: 100%;
            font-size: 2rem;
            padding: 6px;
            text-align: left;
            height: 50px;
            padding-left: 10px;
            color: var(--dark-tc);
            border-radius:  0  ;
        }
    
        footer .inner_footer form input::placeholder {
            color: var(--dark-tc);
            font-size: var( --p-fs);
        }
        
    
        footer .inner_footer form button{
            background: var(--main-colour-300);
            margin-top: 0px;
            color: var(--light-tc);
            width: 50%;
            height: 50px;
            display: flex;
            font-weight: var(--section-heading-fw);
            font-size: 2.7rem;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 0  var(--smaller-br)var(--smaller-br) 0;
        }

            /* The big text----------- */

    footer h2 {
        font-weight: var(--main-heading-fw);
        width: 100vw;
        color: var(--Secondary-colour-100);
        position: absolute;
        left: -10px;
        top: 57%;
        transform: translateY(-50%);
    }
    footer h2 {
        font-weight: var(--main-heading-fw);
        width: 100vw;
        color: var(--secondary-colour-300);
        position: absolute;
        left: -10px;
        top: 70%;
        transform: translateY(-50%);
    }
    footer h2 .word {
        font-size: var(--header-fs);
        text-transform: uppercase;
        text-align: right;
        position: relative;
    }
    
    footer h2 .three {
        top: -230px;
    }
    footer h2 .two {
        top: -115px;
    }
    .slideInOpen{
        animation: contactOpen1 0.3s ease-in-out  forwards !important;
    }
    .slideOutClose{
        animation: contactClosed1 0.3s ease-in-out  forwards !important;
    }
    .dance_display .danceInstructorbox {
        width: clamp(400px , 80% , 550px) ;}

        .dance_display h2 div {
            color: var(--main-o-100);
            font-size: var(--headTwo-fs);
            text-transform: uppercase;
            font-weight: var(--main-heading-fw);
        }
        #ourStory {
            background: var(--main-colour-100);
            height: fit-content;
            padding: 90px var(--ss-padding);
            position: relative;
            display: grid;
            align-items: end;
            grid-template-rows: none;
            justify-content: center;
            overflow: hidden;
            z-index: 10;
        }
} 

